body
{
    color: #595959;
}

A
{
    color: #0000ef;
}

A:hover
{
    color: #0000ef;
    text-decoration: underline;
}

.Hint
{
    border-color: #000000;
    background-color: #ccc;
}

.HintTitle
{
    border-color: #000000;
}

.HintContent
{
    background-color:#ffffff;
}

.ActiveNavigatorPageNumber
{
    color: #ff0000;
}

.Navigator
{
    border-color: #2E4274;
    background-color: #EAECF8;
}

.FormTitle
{
    background-color:#cccccc;
}

.FormSubmit
{
    border-top: solid 1px #ccc;
}

.FormButton
{
    /*background-color: #3a487e;*/
    /*background-color: #669900;*/
    background-color: #CC0001;
    color: #fff;
}

.FormButton_disabled
{
    background-color: #c1c1c1;
    color: #efefef;
}

.FormLine
{
    background-color:#ff0000;
}

.FormLabelEven
{
    background-color: #eaedf7;
    border-bottom: 1px solid #b9c2dd;
}

.FormLabelOdd
{
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.FormrowTitle
{
}

.WUItab .FormrowTitle
{
    color: #000;
}

.FormValueEven
{
    background-color:#ffcccc;
}

.FormHelpEven
{
    background-color:#ffcccc;
}

.FormValueOdd
{
    background-color:#cccccc;
}

.FormHelpOdd
{
    background-color:#cccccc;
}

.WUIformrequired
{
    color: #f00;
}

.Button
{
    border-color: #cccccc;
    background: #cccccc;
}

.Menu
{
    border-color: #000000;
}

.MenuContainerTop
{
    border-color: #ff0000;
}

.MenuContainer
{
    border-color: #00ff00;
}

.MenuItemTop
{
    border-color: #0000ff;
}

.MenuItem
{
    border-color: #0000ff;
}

.MenuItemTop
{
    border-color: #0000ff;
    background: #cccccc;
}

.PrintTop
{
    background-color:#cccccc;
}

.PrintBottom
{
    background-color:#cccccc;
}

/* Komentarze */

.Comment
{
    border-color: #cccccc;
}

.CommentList
{
    border-color: #cccccc;
}

.CommentListHeader
{
    background-color:#cccccc;
}

.CommentListElement
{
    border-color: #efefef;
}

/*Klasy dla administratora*/

.AdminTopPanel
{
    background: #d6d3ce;
    border-color: #000 !important;
}

.AdminCenterPanel
{
    border-color: #000 !important;
    border-right: solid 1px #000 !important;
}

.AdminBottomPanel
{
    border-color: #000 !important;
    border-right: solid 1px #000 !important;
}

.AdminMenuPath
{
    color: #fff;
    background-color: #b0b0b0;
    border-color: #000 !important;
    border-right: solid 1px #000 !important;
}

.WUIseparatorVertical
{
    border-left: solid 1px #848284;
    border-right: solid 1px #ffffff;
}

.WUIseparatorHorizontal
{
    border-bottom: solid 1px #848284;
    border-top: solid 1px #ffffff;
}

.WUIquicklinks A
{
    background-color: #0000ef;
    color: #fff;
}

A.WUIquicklink_disabled
{
    background-color: #b0b0b0;
}

.WUIquicklinks A:hover
{
    color: #fff;
}

.WUITopMenu A
{
    color: #2D4173;
}

/*--------------------------------------------------------
wui:recordset
--------------------------------------------------------*/

.WUIrsrecordrowactive
{
    background-color: #BECDE2;
}

.WUIrsrecordrowodd
{
    background-color: #EAECF8;
}

.WUIrsrecordroweven
{
    background-color: #ffffff;
}

.WUIrsheaderel
{
    border-left: 1px solid #fff;
    color: #E8ECF8;
}

.WUIfield
{
    border-bottom: 1px solid #dfdfdf;
}

.WUIrsheader
{
    background-color: #40618C;
}

.WUIrsDivOverflow
{
    background-color: #dfdfdf;
}

.WUIrsDivOverflowList
{
    background-color: #ffffff;
}

.WUInavigator_PagesActive
{
    color: #ffa54a;
}

/*--------------------------------------------------------
wui:tabpanel
--------------------------------------------------------*/

.WUItabbutton
{
    border-color: #d7d7d7;
    background-color: #ebebeb;
}

.WUItabbutton_active
{
    background: #ccc;
    border-color: #999;
}

.WUItablist
{
    background: #ccc;
}

.WUItabbutton A
{
    color: #000;
}

.WUItabbutton A:hover
{
    color: #000;
}

.WUItabbutton_active A
{
    color: #000;
}

.WUItabbutton_active A:hover
{
    color: #000;
}

.WUItablist_zero
{
    background-color: #cecfce;
    height: 100%;
    border-bottom: solid 1px #afafaf;
}


/*--------------------------------------------------------
wui:hint
--------------------------------------------------------*/

.WUIhelp_smoke
{
    background: #999999;
    color: #000000;
    opacity: 0.8;
}

.WUIddmenu
{
    border-color: #000000;
    border-color: #000000;
}

/*--------------------------------------------------------
wui:hr
--------------------------------------------------------*/

.WUIhr
{
    color: #999999;
}

/*--------------------------------------------------------
wui:list
--------------------------------------------------------*/

.WUIlist
{

}

.WUIlistheader
{
    background: #999999;
}

.WUIlisfield
{
    background: #cccccc;
}

.WUIlistel
{
    background: #cccccc;
}

/*--------------------------------------------------------
wui:group
--------------------------------------------------------*/

.WUIgroup
{
}

.WUIgroupList
{
    /*color: #ff9900;*/
}

.WUIgrouptitle
{
    color: #000;
}

.WUIgroupListSeparator
{
    border-top: solid 1px #000;
}

/*--------------------------------------------------------
	DDMenu
--------------------------------------------------------*/

.DDMenuList
{
    border-left: solid 1px #000;
    border-top: solid 1px #000;
    border-right: solid 1px #acacac;
    border-bottom: solid 1px #acacac;
    background: #ccc;
    color: #000000;
}

.DDMenu
{
    border-color: #ccc;
    color: #000000;
}

.DDMenu_over
{
    border-left: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #848284;
    border-right: solid 1px #848284;
    color: #000000;
}

.DDMenu_click
{
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #848284;
    border-left: solid 1px #848284;
    color: #000000;
}

.DDMenuBox
{
    background: #ccc;
    color: #000000;
}

.DDMenuSeparator
{
    border-top: solid 1px #848284;
    border-bottom: solid 1px #ffffff;
}

A.DDMenuItem
{
    color: #000000;
}

A.DDMenuItem:hover
{
    background-color: #08246b;
    color: #ffffff;
}

.DDMenuSub
{
    color: #000000;
}


/*--------------------------------------------------------
	WUI:CALENDAR

	Style dla kalendarzyka oraz 
	okna wui:windowlayer.
--------------------------------------------------------*/
/*
.WUIcalMain
{
	background: #ccc;
	color: #000000;
}

.WUIcalItem
{
	border-bottom: solid 1px #848284;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-right: solid 1px #848284;
}

.WUIcalItemDay
{
	background-color: #c7c7c7;
	border-bottom: solid 1px #848284;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-right: solid 1px #848284;
}

.WUIcalItemClick
{
	color: #888;
	border-color: #aaa;
	background-color: #eee;
}

.WUIcalHead
{
	background-color: #08246b;
	color: #fff;
}

.WUIbutton
{
	background: #ccc;
	color: #000000;
}
*/

.WUIcalSeparator
{
    border-top: solid 1px #848284;
    border-bottom: solid 1px #ffffff;
}


/*--------------------------------------------------------
	WUI:SCHEDULER
--------------------------------------------------------*/

.WUIcal2Main
{
    background: #ccc;
    color: #000000;
}

.WUIcal2Item
{
    border-bottom: solid 1px #848284;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #848284;
}

.WUIcal2ItemDay
{
    background-color: #c7c7c7;
    border-bottom: solid 1px #848284;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #848284;
}

.WUIcal2ItemClick
{
    color: #888;
    border-color: #aaa;
    background-color: #eee;
}

/*--------------------------------------------------------
	WUI:MEDIA
--------------------------------------------------------*/

.WUI_media_preview_button
{
    background: url('../img/mime_bmp_icon.gif') center #aaa;
    border-color: #fff;
}

.WUIpreviewNavTop
{
    background-color: #ccc;
}

.WUIfileinput_preview
{
    background: #fff;
}

/*--------------------------------------------------------
	WUI:OUTLOOK BAR
--------------------------------------------------------*/

.WUIOutlookBarOption
{
    background: #ccc;
}

.WUIOutlookBarOptionContent
{
    background-color: #aaa;
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    border-bottom: 1px solid #555;
}

/*--------------------------------------------------------
	WUI:FAKESELECT
--------------------------------------------------------*/

.fakeselect_Button
{
    background-image: url("../img/fakeselect_button.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.fakeselect_default .fakeselectdisplay
{
    background-color:#ffffff;
}

.fakeselect_default .fakeselectoption
{
    border-color: black;
    background-color:#ffffff;
}

.fakeselect_table
{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

/*--------------------------------------------------------
	wui:windowlayer
--------------------------------------------------------*/

.WUIwindowlayer
{
    background-color: #ccc;
}

.WUIwindowlayerHead
{
    background-color: #08246b;
    color: #fff;
}

.WUIwindowlayer_tab .WUItabbutton
{
    background-color: #e7e7e7;
    border-bottom: 0px solid #fff;
}

.WUIwindowlayer_tab .WUItabbutton A
{
    color: #000;
}

.WUIwindowlayer_tab .WUItabbutton A:hover
{
    color: #000;
}

.WUIwindowlayer_tab .WUItabbutton_active
{
    background-color: #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.WUIwindowlayer_tab .WUItablist
{
    background-color: #e7e7e7;
}

/*--------------------------------------------------------
	wui:form
--------------------------------------------------------*/

.WUIformrow_input
{

}

/*--------------------------------------------------------
	wui:wizard
--------------------------------------------------------*/

.WUIwizardMain
{
    background-color: #ccc;
}

.WUIwizardHeader
{
    color: #fff;
    background-color: #08246b;
}

.WUIwizardContent .WUItablist
{
    background-color: #E0E0E0;
}

.WUIwizardContent .WUItabbutton
{
    background-color: #E0E0E0;
    border-color: #656565;
}

.WUIwizardContent .WUItabbutton A
{
    background-color: #E0E0E0;
}

.WUIwizardContent .WUItabbutton A:hover
{
    background-color: #E0E0E0;
}

.WUIwizardContent .WUItabbutton_active
{
    background-color: #E0E0E0;
    border-color: #656565;
}

.WUIwizardContent .WUItabbutton_active A
{
    background-color: #E0E0E0;
}

.WUIwizardContent .WUItabbutton_active A:hover
{
    color: #000;
}

.WUIwizardContent .WUItablist_zero
{
    background-color: #E0E0E0;
}

/*--------------------------------------------------------
	HTML AREA
--------------------------------------------------------*/

.htmlarea
{
    background: #fff;
}

.htmlarea .toolbar {
    background: ButtonFace;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.htmlarea .toolbar .button {
    background: ButtonFace;
    color: ButtonText;
    border-color: ButtonFace;
}

.htmlarea .toolbar .buttonHover {
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.htmlarea .toolbar .buttonActive, .htmlarea .toolbar .buttonPressed {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.htmlarea .toolbar .buttonPressed {
    background: ButtonHighlight;
}

.htmlarea .toolbar .indicator {
    border-color: ButtonShadow;
}

.htmlarea .toolbar .separator {
    border-left: 1px solid ButtonShadow;
    border-right: 1px solid ButtonHighlight;
}

.htmlarea .toolbar select:active { background: FieldFace; color: ButtonText; }

.htmlarea .statusBar {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
    background-color: ButtonFace;
    color: ButtonText;
}

.htmlarea .statusBar .statusBarTree a {
    color: #00f;
}

.htmlarea .statusBar .statusBarTree a:visited { color: #00f; }

.htmlarea .statusBar .statusBarTree a:hover {
    background-color: Highlight;
    color: HighlightText;
    border-color: HighlightText;
}

/* Hidden DIV popup dialogs (PopupDiv) */

.dialog {
    color: ButtonText;
    background: ButtonFace;
}

.dialog .title {
    background: #008;
    color: #ff8;
    border-bottom: 1px solid #000;
}

.dialog .title .button {
    border-color: #66a;
    color: #fff;
}

.dialog .title .button-hilite { border-color: #88f; background: #44c; }

.dialog .buttonColor {
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.dialog .buttonColor-hilite {
    border-color: #000;
}

.dialog .buttonColor .chooser, .dialog .buttonColor .nocolor {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.dialog .buttonColor .nocolor-hilite { background-color: #fff; color: #f00; }

.popupdiv {
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.popupwin .title {
    background: #fff;
    color: #000;
}
