.Test
{
	font-size:20px;
	font-family:Arial;
}

body,a,li,p,td,ul,li
{
	font-family: Tahoma, Verdana;
	font-size: 8pt;
}

h2
{
	font-size: 20px;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

A
{
	font-family: Tahoma, Verdana;
	text-decoration: none;
}

a:hover
{
	text-decoration:none;
}

input,select,textarea
{
	font-family: Tahoma;
	font-size:8pt;
}

.Description
{
	font-size:12px;
}

.HintTitle
{
	font-weight:bold;
	font-size:10px;
}

.HintContent
{
	font-size:10px;
}

.WUIokcancel
{
	line-height: 30px;
}

H1
{
	font-size:14px;
}

.FormTitle
{
	font-weight:bold;
	font-size:12px;
}

.FormButton, .FormButton_disabled
{
	font-weight: bold;
}

.FormLabelEven
{
	font-weight:bold;
	font-size:10px;
}

.FormLabelOdd
{
	font-weight:bold;
	font-size:10px;
}

.FormrowTitle
{
	text-align: left;
}

.FormrowTitleColumn
{
	text-align: left;
	font-weight: bold;
}

.FormValueEven
{
	font-size:10px;
}

.FormHelpEven
{
	font-size:10px;
}

.FormValueOdd
{
	font-size:10px;
}

.FormHelpOdd
{
	font-size:10px;
}

.WUIformrequired
{
	font-style: normal;
	font-size: 10px;
}

.WUIrsheaderel
{
	font-weight: bold;
}

.WUIfield
{
	border-bottom: 1px solid #dfdfdf;
}

.NavigatorPageNumber
{
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
}

.NavigatorPageNumber:hover
{
	text-decoration:underline;
	font-weight:bold;
	font-size:10px;
}

.ActiveNavigatorPageNumber
{
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
}

.NavigatorText
{
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
}

.HelpWindowContent
{
	font-size: 12px;
}

.HelpWindowContent li
{
	font-size: 11px;
}

.Button
{
	font-size:10px;
	font-weight:bold;
}

.LeftPanelMain
{
	font-size:12px;
	font-weight:bold;
}

.LeftPanelSub
{
	font-size:10px;
	margin-left:10px;
}

.AdminMenuPath
{
	font-size: 12px;
	font-weight: bold;
}

A.WUIquicklink, A.WUIquicklink_disabled
{
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.WUIseparatorVertical
{
	line-height: 0px;
}

/*--------------------------------------------------------
wui:tabpanel
--------------------------------------------------------*/

.WUItabbutton
{
	line-height: 14px;
	font-weight: normal;
	font-size: 10px;
}

.WUItabbutton_active
{
	line-height: 14px;
	font-weight: bold;
	font-size: 10px;
}

/*--------------------------------------------------------
wui:form
--------------------------------------------------------*/

.WUIformrequired
{
	line-height: 35px;
}

.WUItabbutton A
{
	font-family: Tahoma;
	font-weight: normal;
}

.WUItabbutton_active A
{
	font-family: Tahoma;
}

.WUIformrequired
{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.WUIformrow_input
{
	font-weight: normal;
	font-size: 10px;
}

.WUIformrow_select
{
	font-size: 10px;
}

/*--------------------------------------------------------
wui:group
--------------------------------------------------------*/

.WUIgroup
{
}

.WUIgroupList
{
	font-size: 17px;
	white-space: nowrap;
}

.WUIgrouptitle
{
	font-size: 12px;
	font-weight: bold;
}

/*--------------------------------------------------------
XUL wui:group
--------------------------------------------------------*/

.XULgrouptitle
{
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

/*--------------------------------------------------------
wui:list
--------------------------------------------------------*/

.WUIlistrowLP
{
	font-weight: bold;
	font-size: 16px;
}

.WUIlistHeader
{
	font-weight: bold;
}

/*--------------------------------------------------------
WUI:recordset
--------------------------------------------------------*/

.WUInavigator_PagesActive
{
	font-weight: bold;
	font-size: 12px;
}

.WUIrsheaderel
{
	font-size: 10px;
}

/*--------------------------------------------------------
	DDMenu
--------------------------------------------------------*/

.DDMenuSeparator
{
	line-height: 0px;
}

.DDMenuList
{
	font-family: Tahoma, Verdana;
	font-size: 11px;
}

A.DDMenuItem
{
	font-family: Tahoma, Verdana;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}

/*--------------------------------------------------------
	WUI:CALENDAR
	
	Style dla kalendarzyka oraz 
	okna wui:windowlayer.
--------------------------------------------------------*/
/*
.WUIcalMain
{
	font-family: Tahoma, Verdana;
	font-size: 12px;
}

.WUInavCalSelect
{
	font-family: Tahoma, Verdana;
	font-size: 11px;
}

.WUIcalItem
{
	font-size: 10px;
	text-align: left;
	font-weight: normal;
}

.WUIcalItemDay
{
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.WUIcalItemClick
{
	font-size: 14px;
	text-align: left;
}

.WUIcalHead
{
	line-height: 20px;
	font-size: 11px;
}

.WUIbutton
{
	font-family: Tahoma, Verdana;
	font-size: 10px;
}

.WUIcalSeparator
{
	line-height: 0px;
}
*/
/*--------------------------------------------------------
	WUI:SCHEDULER
--------------------------------------------------------*/

.WUIcal2Main
{
	font-family: Tahoma, Verdana;
	font-size: 12px;
}

.WUIcal2Item
{
	font-size: 10px;
	text-align: left;
	font-weight: normal;
}

.WUIcal2ItemDay
{
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.WUIcal2ItemClick
{
	font-size: 14px;
	text-align: left;
}

/*--------------------------------------------------------
	WUI:MEDIA
--------------------------------------------------------*/

.WUI_media_img_preview
{
	text-align: center;
}

/*--------------------------------------------------------
	WUI:OUTLOOK BAR
--------------------------------------------------------*/

.WUIOutlookBarMain
{
	font-family: Tahoma, Verdana;
	font-size: 11px;
}

.WUIOutlookBarOption
{
	line-height: 18px;
	text-align: center;
}

/*--------------------------------------------------------
	WUI:FAKESELECT
--------------------------------------------------------*/

.fakeselect_default
{
	font-weight: normal;
}

.fakeselect_default .fakeselectdisplay
{
	font-size: 11px;
}

.fakeselect_fakeoption
{
	font-weight: normal;
	font-size: 11px;
}

/*--------------------------------------------------------
	wui:windowlayer
--------------------------------------------------------*/

.WUIwindowlayerHead
{
	font-size: 12px;
}

.WUIwindowlayer_tab
{
	font-size: 11px;
}

.WUIwindowlayer_tab .WUItabbutton A
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
}

/*--------------------------------------------------------
	wui:wizard
--------------------------------------------------------*/

.WUIwizardstep
{
	font-size: 14px;
}

.WUIwizardHeader
{
	font-size: 12px;
}

.WUIwizardContent
{
	font-size: 12px;
}

.WUIwizardstepContent
{
	font-size: 12px;
}

/*--------------------------------------------------------
	pozostałe
--------------------------------------------------------*/

.WUImsgbox_text
{
	font-family: Tahoma;
	font-size: 11px;
}

/*--------------------------------------------------------
	HTML AREA
--------------------------------------------------------*/

.htmlarea .toolbar table
{
	font-family: tahoma,verdana,sans-serif;
	font-size: 11px;
}

.htmlarea .toolbar .indicator
{
	text-align: center;
}

.htmlarea .toolbar select
{
	font: 11px Tahoma,Verdana,sans-serif;
}

.htmlarea .statusBar
{
	font: 11px Tahoma,Verdana,sans-serif;
}

/* Hidden DIV popup dialogs (PopupDiv) */

.dialog, .dialog button, .dialog input, .dialog select, .dialog textarea, .dialog table
{
	font: 11px Tahoma,Verdana,sans-serif;
}

.dialog .title
{
	font-size: 12px;
	font-weight: bold;
}

.dialog .title .button
{
	text-align: center;
}

.dialog .label
{
	text-align: right;
}

.dialog .buttons
{
	text-align: right;
}

.dialog legend
{
	font-weight: bold;
}

.popupwin .title
{
	font-weight: bold;
	font-size: 120%;
	letter-spacing: 2px;
}
