@charset "utf-8";
/* CSS Document */

table {
    border: 0px;
    width: 100%;
    margin: 20px 0 20px 0 !important;
}

th,td {
    padding: 2px 4px 2px 4px !important;
    /*text-align: left;*/
    vertical-align: top;
}

thead tr {
    background-color: #999999;
}

th.sorted {
    background-color: #CCCCCC;
}

th a,th a:visited {
    color: black;
}

th a:hover {
    text-decoration: underline;
    color: black;
}

th.sorted a,th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
}

th.sortable a {
    background-image: url(../img/arrow_off.png);
    background-repeat: no-repeat;
}

th.order1 a {
    background-image: url(../img/arrow_down.png);
    background-repeat: no-repeat;
}

th.order2 a {
    background-image: url(../img/arrow_up.png);
    background-repeat: no-repeat;
}

tr.odd {
    background-color: #fff
}

tr.tableRowEven,tr.even {
    background-color: #CCCCCC
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}

.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}


/* added by neela,05.10.2010 */
.left-align{text-align: left;}
.center-align{text-align: center;}
.right-align{text-align: right;}

.total{font-weight: bold}