
body{
    padding:0;margin:0 auto;font-size:10pt;font-family:verdana,arial,cursive;text-align:center;
    width:1024px;
    height: 768px;
}
a{text-decoration: none;}
.fl_left{float: left;}
.clear{clear: both;}
.border{border: 1px solid black;}
.full-div{width: 100%; float: left}

.height-5px{height: 5px;}
.height-8px{height: 8px;}
.height-10px{height: 10px;}
.height-20px{height: 20px}
.height-30px{height: 30px}
.height-40px{height: 40px}
.height-50px{height: 50px}
.notice{height: 34px; background-color:#00aaff; font-size: 16px; font-style: oblique; font-weight: bolder; color: #ffffff;}


.width-20px{width: 20px}
.width-30px{width: 30px}
.width-40px{width: 40px}
.width-50px{width: 50px}
.width-60px{width: 60px}
.width-70px{width: 70px;}

/*.top{width:100%;background-color: #2d8eca;height:150px;}*/
.top{
    width:100%;
    height:150px;    
    background-image: url(../images/header.jpg);    
    background-repeat: no-repeat;
}

.bg-repeat{
    background-image: url(../images/bg-repeat.jpg);
    background-repeat: repeat-x;
}

.main_body{width:100%;min-height: 530px; margin: 0px auto;padding: 0px;background-color: rgb(190, 205, 226);}
.left_menu{
    width:20%; background-color: rgb(190, 205, 226);
    min-height: 530px;
}
.body_content{width:80%;background-color: #dee9f8; min-height: 530px;}
* html .body_content { height:530px; }

.body{
    width: 80%; margin: 0px auto;
    text-align: center;     
}
.view-page-body{width: 90%; margin: 0px auto; text-align: center ;}
.view-page-body1{width: 98%; margin: 0px auto; text-align: center ;}

.login_table{width: 50%; border : 1px solid #848284; background-color: rgb(190, 205, 226); text-align: left; margin: 0px auto}
.login_table td{height: 25px; padding:3px;}
.login_table thead th{border-bottom: 1px solid #848284; text-align: center; height: 50px; font-size: 22px; color: #e17009; font-family:Verdana, Geneva, sans-serif;}
.login_table tfoot th{border-top: 1px solid #848284; text-align: center; height: 30px; font-size: 20px; color: #e17009; font-family:Verdana, Geneva, sans-serif;}
.login_table tbody th{text-align: right; height: 25px; padding-right: 10px; width: 38%; font-size: 12px;}

.input_table{width: 100%; border : 1px solid #848284; background-color: rgb(190, 205, 226); text-align: left; margin: 0px auto}
.input_table td{height: 25px; padding:3px; width: 55%;}
.input_table thead th{border-bottom: 1px solid #848284; text-align: center; height: 50px;}
.input_table tbody th{text-align: right; height: 25px; padding-right: 15px; width: 45%; }
.input_table tbody th.customth{text-align: left; height: 25px; padding-left: 220px;}

.settings_table{width: 100%; border : 1px solid #848284; background-color: rgb(190, 205, 226); text-align: left; margin: 0px auto}
.settings_table td{height: 25px; padding:3px; width: 45%;}
.settings_table thead th{border-bottom: 1px solid #848284; text-align: center; height: 50px;}
.settings_table tbody th{text-align: right; height: 25px; padding-right: 15px; width: 55%; }
.settings_table tbody th.customth{text-align: left; height: 25px; padding-left: 220px;}

.reg_table{width: 50%; border : 1px solid #848284; background-color: rgb(190, 205, 226); text-align: left; margin: 0px auto}
.reg_table td{height: 25px; padding:3px; width: 50%;}
.reg_table thead th{border-bottom: 1px solid #848284; text-align: center; height: 50px;}
.reg_table tbody th{text-align: right; height: 25px; padding-right: 15px; width: 35%; }
.reg_table tbody th.customth{text-align: left; height: 25px; padding-left: 220px;}


.reporting_table{border-left: 2px solid #FFFFDD;border-top: 1px solid #FFFFDD; border-bottom: 2px solid #FFFFDD;width: 95%; margin: 0px auto}
.reporting_table th{color: black;height: 25px; padding: 3px; border-top: 2px solid #FFFFDD; border-bottom: 2px solid #FFFFDD; border-right: 2px solid #FFFFDD;}
.reporting_table tr.odd{color:#363636; height: 15px; padding: 3px; border-bottom: 1px solid #FFFFDD; border-right: 1px solid #FFFFDD;  background-color:darkkhaki; text-align: left; }
.reporting_table tr.even{color:#363636; height: 15px; padding: 3px; border-bottom: 1px solid #FFFFDD; border-right: 1px solid #FFFFDD; background-color: #fbec88; text-align: left;}
.reporting_table tr.red{color: #CC0001; }
.reporting_table tr.blue{color: #0c66ca;}
.reporting_table td{border-right: 2px solid #FFFFDD;}

.reporting_table thead tr {
   background-color: coral;
}

.reporting_table th.sorted {
    background-color: coral;
    color: black;
}

.reporting_table th a,th a:visited {
    color: black;
}

.reporting_table th a:hover {
    text-decoration: underline;
    color: black;
}

.reporting_table th.sorted a,th.sortable a {
    background-position: right;
    display: block;
    color: black;
}

.reporting_table th.sortable a {
    background-image: url(../images/all_fade.gif);
    background-repeat: no-repeat;
    color: black;
}

.reporting_table th.order1 a {
    background-image: url(../images/down.gif);
    background-repeat: no-repeat;
    color: black;
}

.reporting_table th.order2 a {
    background-image: url(../images/up.gif);
    background-repeat: no-repeat;
    color: black;
}

.WUIrsrecordrowactive{ height: 15px; padding: 3px; border-bottom: 1px solid #FFFFDD; border-right: 1px solid #FFFFDD; background-color: #BECDE2;text-align: left; }

.custom_column1{
    text-align: center;
}

.custom_column2{
    text-align: right;
}

.blank-height{clear: both; height: 20px}


.footer{background-color: #0c66ca;width:100%;height:20px; color: #FFFFFF}
.footer a{text-decoration: none; color: #FFFFFF}
.footer a:active a:visited{text-decoration: none; color: #FFFFFF}


.pointer{cursor: pointer}

input {width: 150px; font-size:10pt;font-family:verdana,arial,cursive;}
select{width: 155px; font-size:10pt;font-family:verdana,arial,cursive; height: 20px}

.blue{color: blue}
.black{color: #000000}
.red{color:#CC0001}

.center-align{text-align: center}
.left-align{text-align: left}
.right-align{text-align: right}

.add_button
{
    width:70px;
    /*height: 22px;*/
    font-family: verdana;
    font-weight: bold;
}

.pay-button
{
    width:75px;
    /*height: 22px;*/
    font-family: verdana;
    font-size: 12px;
    color: #000000 !important;
}

.half-div{width: 50%; margin: 0 auto}
.three-fourth-div{width: 80%; margin: 0 auto}


.fl_right{float: right;}  

.search-table{border: 1px outset #FFFFFF;width: 100%; background-color: #dee9f8; margin: 0px auto; padding: 5px}
.search-table th{padding: 3px; border-bottom: 1px solid #FFFFDD; border-right: 1px solid #FFFFDD; background-color: rgb(190, 205, 226); text-align: right}
.search-table td{padding: 3px; border-bottom: 1px solid #FFFFDD; border-right: 1px solid #FFFFDD; background-color: rgb(190, 205, 240); text-align: left}

.custom-button{background-color: #2d8eca; border: 1px #0000ef solid; font-weight: bold; cursor: pointer; height: 22px; font-size: 13px; vertical-align: middle; width: 70px; vertical-align: middle}
.custom-button1{background-color: #2d8eca; border: 1px #0000ef solid; font-weight: bold; cursor: pointer; height: 22px; font-size: 13px; vertical-align: middle; width: 75px; vertical-align: middle}

.search-button{background-color: #2d8eca; border: 1px #0000ef solid; font-weight: bold; cursor: pointer; height: 20px; font-size: 13px; vertical-align: middle; width: 74px;vertical-align: middle}
.go-button{background-color: #2d8eca; border: 1px #0000ef solid; font-weight: bold; cursor: pointer; height: 20px; font-size: 13px; vertical-align: middle; width: 30px;vertical-align: middle}
.action-button{background-color: #2d8eca; border: 1px #0000ef solid; font-weight: bold; cursor: pointer; height: 18px; font-size: 12px; vertical-align: middle; vertical-align: middle}